.footer {
    background-color: #050505;
    padding: 80px 10% 30px;
    border-top: 1px solid #222;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 60px;
}

.footer-brand h2 {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: white;
}

.footer-brand p {
    color: #888;
    max-width: 250px;
}

.footer-links {
    display: flex;
    gap: 80px;
}

.footer-links h4 {
    color: white;
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-links ul {
    list-style: none;
}

.footer-links li {
    color: #888;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-links li:hover {
    color: var(--accent);
}

.footer-social {
    display: flex;
    gap: 20px;
}

/* Style the Link specifically */
.footer-social a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.footer-social a:hover {
    color: var(--accent);
    transform: scale(1.1); /* Slight zoom on hover */
}

.footer-bottom {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid #111;
}

.footer-bottom p {
    color: #555;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer-content { flex-direction: column; }
    .footer-links { gap: 40px; }
}